@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
  section {
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .info {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color-slate);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .info:hover,
  .info:focus {
    color: var(--hover-ocean);
  }
  .address-container {
    display: flex;
    gap: 40px;
  }
  .hero {
    padding-bottom: 188px;
    padding-top: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    width: 1200px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/people-office@2.jpg');
    }
  }
  .hero-text {
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
    margin-bottom: 40px;
  }
  /* =======feature========= */
  .feature-container {
    flex-wrap: nowrap;
  }

  .feature-text {
    margin-top: 8px;
  }
  .feature-subtitle {
    max-width: 264px;
  }
  .feature-list-prymiry {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .feature-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background: var(--cloud-light-background);
    border-radius: 4px;
  }
  /* =======works========== */
  .work-contanier {
    padding-top: 0;
  }
  .work-header {
    text-transform: capitalize;
  }

  .work-list {
    display: flex;
    column-gap: 24px;
  }
  .work-cards {
    flex-basis: calc(100%-58px) / 3;
  }
  /* =======team===== */
  .team-list {
    flex-wrap: nowrap;
  }
  /* ===features===== */
  .customers-list {
    flex-wrap: nowrap;
  }

  /* ===========footer============= */
  .footer-container {
    padding-left: 156px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .social-media-container {
    margin-left: 120px;
  }
  .subscribe-container {
    margin-left: auto;
  }
  .footer-flex-container {
    flex-wrap: nowrap;
    column-gap: 0;
  }
}
