@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
  section {
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .menu {
    margin-right: 76px;
  }
  .address-container {
    display: flex;
    gap: 40px;
  }
  .hero {
    padding-bottom: 188px;
    padding-top: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    width: 1200px;
  }
  .hero-text {
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
    margin-bottom: 40px;
  }
  /* =======feature========= */
  .feature-container {
    display: flex;
    flex-wrap: nowrap;
  }
  .feature-list:not(:last-child) {
    margin-right: 24px;
  }

  .feature-text {
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .feature-subtitle {
    max-width: 264px;
  }
  .feature-list-prymiry {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .feature-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background: var(--cloud-light-background);
    border-radius: 4px;
  }
  /* =======works========== */
  .work-contanier {
    padding-top: 0;
  }
  .work-header {
    text-transform: capitalize;
  }

  .work-list {
    display: flex;
    column-gap: 24px;
  }
  .work-cards {
    flex-basis: calc(100%-58px) / 3;
  }
  /* =======team===== */
  .team-list {
    flex-wrap: nowrap;
  }
  /* ===features===== */
  .customers-list {
    flex-wrap: nowrap;
  }
  /* ===========footer============= */
  .footer-container {
    width: 1200px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .social-media-container {
    margin-left: 120px;
  }
  .subscribe-container {
    margin-left: auto;
  }
  .footer-flex-container {
    flex-wrap: nowrap;
    column-gap: 0;
    row-gap: 0;
    margin-left: 0;
  }
}
