.container {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }

  .modal {
    width: 392px;
  }

  .footer-subscribe-input {
    width: 398px;
  }
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .menu-link {
    display: none;
  }
  .address-container-header {
    display: none;
  }
  .work-contanier {
    display: none;
  }
  .mobile-menu-open {
    fill: var(--primary-text);
    border: none;
    background-color: transparent;
    padding: 0;
    height: 22px;
  }
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: var(--white);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .clouse-menu-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-conteiner {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    position: relative;
    padding-left: 40px;
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .menu-link-mobile {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--primary-text);
  }
  .menu-item-mobile:not(:last-child) {
    margin-bottom: 40px;
  }

  .menu-link-mobile:hover,
  .menu-link-mobile:focus {
    color: var(--hover-ocean);
  }
  .menu-link-active {
    color: var(--hover-ocean);
  }
  .phone-number {
    display: block;
    width: 100%;

    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--iris-brand-color);
    margin-top: 284px;
  }
  .phone-number:hover,
  .phone-number:focus {
    color: var(--hover-ocean);
  }
  .mobile-info {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 40px;
    color: var(--text-color-slate);
  }
  .mobile-info:hover,
  .mobile-info:focus {
    color: var(--hover-ocean);
  }

  .menu-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--iris-brand-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-social-list {
    display: flex;
    align-items: center;
    gap: 56px;
    margin-top: 48px;
  }
  .menu-social-list-icon {
    fill: var(--cloud-light-background);
  }
  .menu-social-list-link:hover,
  .menu-social-list-link:focus {
    background-color: var(--hover-ocean);
  }
  /* =========hero======= */

  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-mobile.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/bg-mobile@2.jpg');
    }
  }
  .hero-text {
    font-size: 36px;
    line-height: 1.11;
    max-width: 320px;
    margin-bottom: 72px;
  }
  /* =======feature========= */

  .feature-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .feature-container {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
  }

  /* =======team==== */
  .team-cards {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }
  .customers-list {
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
  }
  .customers-list-item {
    width: 190px;
  }

  /* ===footer===== */
  .footer-flex-container {
    display: block;
  }
  .footer-text {
    margin-left: auto;
    margin-right: auto;
  }
  .footer-container-logo {
    text-align: center;
    margin-bottom: 72px;
  }
  .footer-title {
    text-align: center;
  }
  .footer-list {
    justify-content: center;
    column-gap: 16px;
  }
  .social-media-container {
    margin-bottom: 72px;
  }
  .subscribe-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
  }
  /* portfolio */
  .potfolio-container {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .filter-btn {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
  }
  .btn-container {
    width: 270px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 16px;
    margin-bottom: 48px;
  }
  .portfolio-photo-container {
  }
}
