.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text);
}
:root {
  --cloud-light-background: #f4f4fd;
  --cornflower-accent-color: #e7e9fc;
  --light-slate-subtle: #8e8f99;
  --green-succsses-color: #31d0aa;
  --iris-brand-color: #4d5ae5;
  --primary-text: #2e2f42;
  --text-color-slate: #434455;
  --hover-ocean: #404bbf;
  --white: #ffffff;
}
/* ======header========== */
.logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-brand-color);
  margin-right: 76px;
}
.logo-type {
  color: var(--primary-text);
}
