.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
section {
  padding-bottom: 96px;
  padding-top: 96px;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text);
}
:root {
  --cloud-light-background: #f4f4fd;
  --cornflower-accent-color: #e7e9fc;
  --light-slate-subtle: #8e8f99;
  --green-succsses-color: #31d0aa;
  --iris-brand-color: #4d5ae5;
  --primary-text: #2e2f42;
  --text-color-slate: #434455;
  --hover-ocean: #404bbf;
  --white: #ffffff;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.primary-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  text-align: center;
}
.secondary-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text);
}
.subtitle-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--text-color-slate);
}
/* ======header========== */
.logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-brand-color);
}
.logo-type {
  color: var(--primary-text);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--hover-ocean);
}
.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
/* ========hero========= */
.hero {
  background-color: var(--primary-text);
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.hero-text {
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-left: auto;
  margin-right: auto;
}
.hero-btn {
  background: var(--iris-brand-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  border-radius: 4px;
  border: transparent;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-left: 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-ocean);
  color: var(--white);
}

/* features */
.feature-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* =======team========= */
.team-container {
  background-color: var(--cloud-light-background);
}

.team-cards {
  max-width: 264px;
  background-color: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-cards-text {
  padding-bottom: 32px;
  padding-top: 32px;
  text-align: center;
}
.team-title {
  margin-bottom: 8px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris-brand-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.social-list-icon {
  fill: var(--cloud-light-background);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--hover-ocean);
}
/* ===========customers============= */
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text);
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  justify-content: center;
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88px;

  border: 1px solid var(--light-slate-subtle);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-icon {
  fill: var(--light-slate-subtle);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list-link:hover,
.customers-list-link:focus {
  border: 1px solid var(--hover-ocean);
  border-radius: 4px;
}
.customers-list-link:hover .customers-list-icon {
  fill: var(--hover-ocean);
}
/* ===========footer============= */
.footer-container {
  background-color: var(--primary-text);
  padding-top: 96px;
  padding-bottom: 96px;
}
.footer-flex-container {
  display: flex;
  align-items: center;
}
.footer-btn-studio {
  color: var(--cloud-light-background);
}

.footer-text {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cornflower-accent-color);
  margin-top: 16px;
}
.footer-btn {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-brand-color);
}
.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: var(--white);
  margin-bottom: 16px;
}
.footer-list {
  display: flex;
}
.footer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--text-color-slate);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list-link:hover,
.footer-list-link:focus {
  background-color: var(--green-succsses-color);
}

.footer-list-icon {
  fill: var(--cloud-light-background);
}
.footer-subscribe-input {
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;

  color: rgba(255, 255, 255, 0.6);
}
.footer-subscribe-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--iris-brand-color);
  border-radius: 4px;
  border-color: var(--iris-brand-color);
  width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: var(--hover-ocean);
  border-color: var(--hover-ocean);
}
/* ===========modal-wimdows================ */
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  overflow-y: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 72px 24px 24px 24px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clouse-modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clouse-modal-btn:hover,
.clouse-modal-btn:focus {
  fill: var(--white);
  background-color: var(--hover-ocean);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* ================modal-form============ */
.modal-form-field {
  display: flex;
  flex-direction: column;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--iris-brand-color);
}
.modal-form-label-descr {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--light-slate-subtle);
  margin-top: 8px;
  margin-bottom: 4px;
  display: block;
}
.modal-form-label-descr:first-child {
  margin-top: 0;
}
.modal-privat-href {
  color: var(--iris-brand-color);
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-wrap-icon {
  position: relative;
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--iris-brand-color);
}
.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px 8px 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  border-color: var(--iris-brand-color);
}
.modal-form-check-descr::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--primary-text);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-check:checked + .modal-form-check-descr::before {
  background-color: var(--hover-ocean);
  border-color: var(--hover-ocean);
  background-image: url(../images/ok.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.modal-form-check:focus + .modal-form-check-descr::before {
  outline: var(--hover-ocean);
}
.modal-form-check-descr {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #757575;
  margin-bottom: 24px;
}
.modal-form-submit {
  width: 169px;
  height: 56px;
  background: var(--iris-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--iris-brand-color);
  align-self: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  padding: 16px 32px 16px 32px;
}
.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--hover-ocean);
  border-color: var(--hover-ocean);
}
/* ===========portfolio============= */

.filter-btn {
  font-family: inherit;
  background: var(--cloud-light-background);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris-brand-color);
  border: 1px solid var(--cornflower-accent-color);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--hover-ocean);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--hover-ocean);
}

.portfolio-photo-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-photo-cards {
  flex-basis: calc((100% - 48px) / 3);
}
.portfolio-hover-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.portfolio-hover-link:hover,
.portfolio-hover-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-text-cards {
  border: 1px solid #e7e9fc;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-top: none;
}
.portfolio-title {
  margin-bottom: 8px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0%, 101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud-light-background);
  background: var(--iris-brand-color);
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
}
.potfolio-list-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-hover-link:hover .overlay,
.portfolio-hover-link:focus .overlay {
  transform: translate(0%, 0%);
}
